/* Global styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Style for the header section */
.header {
  background-image: url('Images/CandidateHome-bg1.jpg'); /* Replace with the actual path to your background image */
  background-size: cover;
    color: white;
    padding: 30px 0;
    text-align: center;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    text-align: right;
}

.user-id,
.user-email {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.logo img {
    max-height: 100px;
    margin-right: 20px; /* Adjust margin as needed */
}

/* Style for the main content section */
.main-content {
    background-color: white;
    padding: 20px;
    min-height: 70vh;
}
.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow filters to wrap to the next line if needed */
}
.filter {
    text-align: center;
    margin: 60px; /* Add some space around each filter */
}
.filter label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}
.filter select {
    font-size: 16px; /* Increase font size */
    border-radius: 10px; /* Add rounded corners */
    padding: 10px; /* Add padding for more space inside the box */
    border: 2px solid #ccc; /* Add a border for visibility */
    width: 200px; /* Set a specific width for the select box */
}
#submitButton {
    font-size: 20px; /* Increase font size */
    border-radius: 10px; /* Add rounded corners */
    padding: 12px 24px; /* Add padding for more space inside the button */
    border: 2px solid black; /* Add a border for visibility */
    background-color: white; /* White background */
    color: black; /* Black text color */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 150px;
}

#submitButton:hover {
    background-color: black; /* Black background on hover */
    color: white; /* White text color on hover */
}
.candidate-table {
    /* Add styles for the table if needed */
}
