* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

article,
aside,
details,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  text-decoration: none;
  margin-top:-55px ;
}

img {
  border: none;
}

*:focus {
  outline: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.bg-illustration {
  position: relative;
  height: 100vh;
  width: 1194px;
  background: url("Images/RecruiterSignUp-bg.jpg") no-repeat center center scroll;
  background-size: cover;
  float: left;
  -webkit-animation: bgslide 2.3s forwards;
          animation: bgslide 2.3s forwards;
}
.bg-illustration img {
  width: 248px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: auto;
  margin: 19px 0 0 25px;
}

@-webkit-keyframes bgslide {
  from {
    left: -100%;
    width: 0;
    opacity: 0;
  }
  to {
    left: 0;
    width: 1194px;
    opacity: 1;
  }
}

@keyframes bgslide {
  from {
    left: -100%;
    width: 0;
    opacity: 0;
  }
  to {
    left: 0;
    width: 1194px;
    opacity: 1;
  }
}


.SignUp {
  
  overflow-Y: auto;
  float: left;
  margin: 0 auto;
  width: calc(100% - 1194px);
}
.SignUp .container {
  width: 505px;
  margin: 116px;
  margin-top: -47px;
  position: relative
}
.SignUp .container h1 {
  margin-top: 100px;
  font-size: 35px;
  font-weight: bolder;
}
.SignUp .container .SignUp-form {
  margin-top: 30px;
}
.SignUp .container .SignUp-form form {
  display: -ms-grid;
  display: grid;
}
.SignUp .container .SignUp-form form input {
  font-size: 16px;
  font-weight: normal;
  background: rgba(57, 57, 57, 0.07);
  margin: 12.5px 0;
  height: 68px;
  border: none;
  padding: 0 30px;
  border-radius: 10px;
}
.SignUp .container .SignUp-form form button[type=submit] {
  /* background: -webkit-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%); */
  /* background: -o-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%); */
  /* background: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%); */
  background: -webkit-linear-gradient(110deg, #334d5e 0%, #4e7690 100%);
  background: -o-linear-gradient(110deg, #334d5e 0%, #4e7690 100%);
  background: linear-gradient(-20deg, #334d5e 0%, #4e7690 100%);
  border: none;
  margin-top: 7px;
  margin-bottom: 20px;
  width: 241px;
  height: 58px;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-size: 20px;
}
.SignUp .container .SignUp-form form button[type=submit]:hover::after {
  opacity: 1;
}
.SignUp .container .SignUp-form form button[type=submit]::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 10px;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#09203f), to(#537895));
  background: -webkit-linear-gradient(bottom, #09203f 0%, #537895 100%);
  background: -o-linear-gradient(bottom, #09203f 0%, #537895 100%);
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.SignUp .container .Sign-Up {
  position: absolute;
  right: 0;
  margin-top: 558px;
}
.SignUp .container .Sign-Up a {
  font-size: 16px;
  position: relative;
  font-weight: normal;
  color: #918F8F;
}
.SignUp .container .Sign-Up a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 100px;
  background: -webkit-linear-gradient(110deg, #888 0%, #888 100%);
  background: -o-linear-gradient(110deg, #888 0%, #888 100%);
  background: linear-gradient(-20deg, #888 0%, #888 100%);
  bottom: -4px;
  left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  right: 0;
}
.SignUp .container .Sign-Up a:hover::after {
  opacity: 1;
}

@media only screen and (min-width: 1024px) and (max-width: 1680px) {
  .bg-illustration {
    width: 50%;
    -webkit-animation: none;
            animation: none;
  }

  .SignUp {
    width: 50%;
  }
}
/* Display 12", iPad PRO Portrait, iPad landscape */
@media only screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  @-webkit-keyframes slideIn {
    from {
      left: -100%;
      opacity: 0;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }

  @keyframes slideIn {
    from {
      left: -100%;
      opacity: 0;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }
  .bg-illustration {
    float: none;
    background: url("https://i.ibb.co/rwncw7s/bg-mobile.png") center center;
    background-size: cover;
    -webkit-animation: slideIn 0.8s ease-in-out forwards;
            animation: slideIn 0.8s ease-in-out forwards;
    width: 100%;
    height: 190px;
    text-align: center;
  }
  .bg-illustration img {
    width: 100px;
    height: auto;
    margin: 20px auto !important;
    text-align: center;
  }
  .bg-illustration .burger-btn {
    left: 33px;
    top: 29px;
    display: block;
    position: absolute;
  }
  .bg-illustration .burger-btn span {
    display: block;
    height: 4px;
    margin: 6px;
    background-color: #fff;
  }
  .bg-illustration .burger-btn span:nth-child(1) {
    width: 37px;
  }
  .bg-illustration .burger-btn span:nth-child(2) {
    width: 28px;
  }
  .bg-illustration .burger-btn span:nth-child(3) {
    width: 20px;
  }

  .SignUp {
    float: none;
    margin: 0 auto;
    width: 100%;
  }
  .SignUp .container {
    -webkit-animation: slideIn 0.8s ease-in-out forwards;
            animation: slideIn 0.8s ease-in-out forwards;
    width: 85%;
    float: none;
  }
  .SignUp .container h1 {
    font-size: 25px;
    margin-top: 40px;
  }
  .SignUp .container .SignUp-form {
    margin-top: 90px;
  }
  .SignUp .container .SignUp-form form input {
    height: 45px;
  }
  .SignUp .container .SignUp-form form button[type=submit] {
    height: 45px;
    margin-top: 100px;
  }

  .Sign-Up {
    position: absolute;
    right: inherit;
    left: 0;
    bottom: 0px;
    margin: 0 !important;
  }
  .Sign-Up a {
    font-size: 16px;
    position: below;
    font-weight: normal;
    color: #918F8F;
  }
  .Sign-Up a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 100px;
    background: -webkit-linear-gradient(110deg, #888 0%, #888 100%);
    background: -o-linear-gradient(110deg, #888 0%, #888 100%);
    background: linear-gradient(-20deg, #888 0%, #888 100%);
    bottom: -4px;
    left: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    right: 0;
  }
  .Sign-Up a:hover::after {
    opacity: 1;
  }
}
input:valid {
  border-color: green;
}

input:invalid {
  border-color: red;
}
.SignUp .container .SignUp-form form .password-container {
  position: relative;
  padding-right: 0px; /* Adjust this value as needed */
  display: flex;
  align-items: center;
}

.SignUp .container .SignUp-form form .password-container .password-toggle {
  position: absolute;
  top: 50px;
  right: 10px; /* icon placement */
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0px;
}
.password-container .password-toggle img {
  width: 70px; /* eye icon size */
  height: auto;
}

.SignUp .container .SignUp-form form input[type="password"] {
  font-size: 16px;
  font-weight: normal;
  background: rgba(57, 57, 57, 0.07);
  margin: 12.5px 0;
  height: 68px;
  width: calc(111.5% - 60px); /* width of the password container */
  padding: 0 30px 0 15px;
  padding-right: 0px;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  text-indent: 15px;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
