<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/Homepage-style.css">
  <title>Jobify-Homepage</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="#">More Information</a></li>
        <li><a href="#">Contacts</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </nav>
  </header>

  <section class="hero">
    <div class="overlay"></div>
    <div class="content">
      <img src="../static/css/Images/jobifywhite-png.png" alt="Logo">
      <h1>Unlocking Opportunities, Powering Careers</h1>
      <p>Are you ready to revolutionize your hiring experience?  At Jobify, we're dedicated to transforming the way recruiters and candidates connect.</p>
      <div class="buttons">
        <a href="../templates/Jobify-Login.html" class="button">Log In</a>
        <a href="../templates/Jobify-SignUp.html" class="button">Sign Up</a>
      </div>
    </div>
  </section>
</body>
</html>
