<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/AboutUs-style.css">
  <title>Jobify-AboutUs</title>
</head>
<body>
  <header >
    <nav>
      <ul>
        <li><a href="#">Homepage</a></li>
        <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
      </ul>
    </nav>
  </header>

  <section class="hero">
      <div class="overlay"></div>
      <div class="content">
        <img src="../static/css/Images/jobifywhite-png.png" alt="Logo">
        <h1>All About Jobify</h1>
        <p>We at Jobify aim to make sure that there is a seamless and effective process to help our customers to acheive thier desired outcome. </p>
      </div>
    </section>

  <section class="designer-team">
      <div class="designer-content">
        <div class="team-image">
          <img src="../static/css//Images/Avenger.jpg" alt="Designer Team">
        </div>
        <div class="team-info">
          <h2>Meet Our Designer Team</h2>
          <p>Learn more about the creative minds behind Jobify. Our talented designers are passionate about creating seamless user experiences that leave a lasting impression.</p>
        </div>
      </div>
    </section>
    <section>
      <div class="designer-grid">
        <div class="team-partition">
          <div class="member-image">
            <img src="../static/css//Images/IM.jpg" alt="Designer 1">
          </div>
          <div class="team-info">
            <h3>Designer1 Name</h3>
            <p>Description of Designer</p>
          </div>
        </div>

        <div class="team-partition">
          <div class="member-image">
            <img src="../static/css//Images/BP.png" alt="Designer 2">
          </div>
          <div class="team-info">
            <h3>Designer2 Name</h3>
            <p>Description of Designer</p>
          </div>
        </div>

        <div class="team-partition">
          <div class="member-image">
            <img src="../static/css//Images/BW.jpeg" alt="Designer 3">
          </div>
          <div class="team-info">
            <h3>Catherine R</h3>
            <p>Description of Designer</p>
          </div>
        </div>

        <div class="team-partition">
          <div class="member-image">
            <img src="../static/css//Images/SM.jpg" alt="Designer 4">
          </div>
          <div class="team-info">
            <h3>Designer4 Name</h3>
            <p>Description of Designer</p>
          </div>
        </div>

        <div class="team-partition">
          <div class="member-image">
            <img src="../static/css//Images/CA.jpg" alt="Designer 5">
          </div>
          <div class="team-info">
            <h3>Designer5 Name</h3>
            <p>Description of Designer</p>
          </div>
        </div>

        <div class="team-partition">
          <div class="member-image">
            <img src="../static/css//Images/TO.png" alt="Designer 6">
          </div>
          <div class="team-info">
            <h3>Designer6 Name</h3>
            <p>Description of Designer</p>
          </div>
        </div>

      </div>

    </section>
</body>
</html>


