<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jobify-RecruiterSignUp</title>
    <link rel="stylesheet" href="../static/css/Rsignup.css">
    <script src="../static/js/RecruiterSignUp.js"></script>
  </head>
  <body>
    <div class="parent clearfix">
  <div class="bg-illustration">
    <img src="../static/css/Images/jobifywhite-png.png" alt="logo">

    <div class="burger-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>

  <div class="SignUp">
    <div class="container">
      <h1>Welcome Recruiters!<br />Gain access to easy hiring.</h1>

      <form method="POST">

        <input type="text" placeholder="Full Name" >
        <input type="email" placeholder="E-mail Address" >
        <input type="tel" placeholder="Contact No" pattern="[0-9]{10}" required title="Enter a 10-digit phone number" maxlength="10" >

        <div class="password-container">
          <input type="password" placeholder="Password" id="password" required style="width:504px"  >
          <span class="password-toggle" onclick="togglePasswordVisibility('password')">
            <img src="../static/css/Images/passwordeye-png.png" alt="Toggle password visibility">
          </span>
        </div>
        <input type="password" placeholder="Confirm Password" id="confirmPassword" required onkeyup="checkPasswordMatch()" >
        <div id="passwordError" class="error-message"></div>

          <div class="Sign-Up">
            <p class="link">Already have an account?   <a href="{{ url_for('login') }}"> Log In</a></p>
          </div>

          <button type="submit" id="submitButton">SIGN-UP</button>

        </form>
      </div>

    </div>
    </div>
</div>
  </body>
</html>
