<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobify-Candidate Upload</title>
    <link rel="stylesheet" href="../static/css/CandidateUpload-style.css">
</head>
<body>
    
    <header class="header">
        <div class="header-content">
            <div class="logo">
                <img src="../static/css/Images/jobifywhite-png.png" alt="Your Logo">
            </div>
            {% if 'username' in session %}
            <div class="user-info">
                <div class="user-details">
                    <span class="user-email">Email: {{ session['username'] }}</span>
                </div>
                <a href="{{ url_for('index') }}">
                    <button class="logout-button">Logout</button>
                </a>
            </div>
            {% endif %}
        </div>
    </header>

    <h1>Candidate Information</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% if joel_data %}
                {% for key, value in joel_data.items() %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">No data found for Candidate.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</body>
</html>
