<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobify-Candidate Upload</title>
    <link rel="stylesheet" href="../static/css/CandidateUpload-style.css">
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    
    <header class="header">
        <div class="header-content">
            <div class="logo">
                <img src="../static/css/Images/jobifywhite-png.png" alt="Your Logo">
            </div>
            {% if 'username' in session %}
            <div class="user-info">
                <div class="user-details">
                    <span class="user-email">Email: {{ session['username'] }}</span>
                </div>
                <a href="{{ url_for('index') }}">
                    <button class="logout-button">Logout</button>
                </a>
            </div>
            {% endif %}
    </header>
    <table>
        <tbody>
            {% if joel_data %}
                {% for key, value in joel_data.items() %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">No data found for Joel.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

</body>
</html>
